<div id="container">
	<main>
    <div class="font-bold text-3xl my-3">
      <p class="font-sans text-xl">This is Sans</p>
      <p class="font-mono">This is Mono</p>
      <p class="font-serif">This is Serif</p>
    </div>
	</main>
</div>
